$text-font:    Arial, Verdana, san-serif;
$section-font: Helvetica Neue;
$heading-font: Cantarell;
$primary-color: #3172AA;
$secondary-color: #6195C4;
$widget-color: #B6330E;
$other-color: #999999;
$text-size:13px;




.article-head {
    border-bottom: 1px solid #ccc;
    margin-bottom:10px;
   
    .article-title {


        h2 {
        font-size: 30px;
        font-family: Helvetica Neue;
        margin-bottom: 0px;
        font-weight: 300;
        }

        p {
            font-size: 11px;
            font-family: Helvetica Neue;
            color:$widget-color;
            margin-bottom: 5px;
        }

    }

    
}

.article-container {



    .all-article {
        
        

        img {
            margin-bottom: 20px;
        }

        .article-share {

                position: relative;


                .sticker {                   
                 
                   width:70px;
                   height: 50px;
                   z-index: 2;
                   text-align: center;
                   border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background-color: $primary-color;

                   i {
                    text-align: center;
                    margin-top: 10px;
                    color:white;
                   }

                   p {
                    color:white;
                    font-size: 10px;
                   }
                    
                }

                

                .share-tools1 {
                    z-index: 99;
                    position:fixed;
                    bottom:0;
                    display: none;
                    width: 70px;
                    height:130px;
                    background-color: $primary-color;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                        ul {
                            
                            margin: 0 auto;
                            
                            li {
                                
                                
                                color: white;
                                list-style-type: none;
                                text-align: center;

                            }

                            li:nth-child(1) {
                                margin-top:10px;
                                
                                i:hover {
                                    color: #3b5998;
                                }

                            }

                            li:hover:nth-child(1) {
                                
                            }

                            li:hover:nth-child(2) {
                                color: #00a0d1;
                            }

                            li:hover:nth-child(3) {
                                color: #4E433C;
                            }

                            li:hover:nth-child(4) {

                                i:hover {
                                    color: #C63D2D;
                                }
                            }
                            
                        }
                    

                }

                .sticker2 {

                    position: absolute;
                    bottom:0px;
                    background: #ccc;
                    width:70px;
                    height: 50px;
                    z-index: 1;
                    text-align: center;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background-color: $primary-color;

                    i {
                    text-align: center;
                    margin-top: 10px;
                    color:white;
                   }

                   p {
                    color:white;
                    font-size: 10px;
                   }
                }

        }
    
        .article {
            

            p {
                font-size:12px;
                font-family: Helvetica Neue;
                
                
            }

            .in-content-ad {
                width: 336px;
                height:280px;
                background-color: #ccc;
                float: left;
                margin-right: 10px;

            }
        }

        .comments {
            height: 200px;
            width: 100%;
            background-color: #ccc;
            margin-bottom: 20px;
        }

    }

}



.article-side {
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        
    .more_in_section {
            
        h6 {
            background-color: $widget-color;
            padding:2px 0px 2px 4px;
            font-family: $section-font;
            margin:0;
            color:white;
            font-size:13px;
            letter-spacing: 1px;
            font-weight:200;

        }

      
        h2 {
            margin-top:10px;
            
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
        }
    }
    
    .article-side-ad-container {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        
        .article-sidebar-ad {
            margin: 0 auto;
            margin-top:10px;
            margin-bottom:10px;
            width:300px;
            height:250px;
            background-color: #ccc;
        }
    }
    
    .related_articles {
        margin-top:10px;
            
        h6 {
            background-color: $widget-color;
            padding:2px 0px 2px 4px;
            font-family: $section-font;
            margin:0;
            color:white;
            font-size:13px;
            letter-spacing: 1px;
            font-weight:200;

        }

      
        h2 {
            margin-top:10px;
            
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
        }
    }



}


.stick {
    position:fixed;
    bottom:0px;
}